name: Docker Base Build Workflow

on:
  workflow_call:
    inputs:
      app-name:
        required: true
        type: string 
      docker-file:
        required: true
        type: string

        
env:
  GHCR_REGISTRY: ghcr.io
  GHCR_IMAGE_NAME: ${{ github.repository }}/${{ inputs.app-name }}

jobs:
  build-app-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read 
      packages: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    
    #- name: Free Disk Space (Ubuntu)
    #  uses: jlumbroso/free-disk-space@main
    #  with:
    #    tool-cache: false         
    #    android: true
    #    dotnet: true
    #    haskell: true
    #    large-packages: true
    #    docker-images: false
    #    swap-storage: true
     

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 登录到 GitHub Container Registry
    - name: Log into GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.GHCR_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN}}


    # 提取 Docker 元数据（标签、标签）
    - name: Extract Docker metadata for GHCR
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.GHCR_REGISTRY }}/${{ env.GHCR_IMAGE_NAME }}
        tags: linux_latest

    # 构建和推送 Docker 镜像到 GHCR
    - name: Build and push to GHCR
      id: build-and-push-ghcr
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ${{inputs.docker-file}}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

   
          
  